header{
    background-image:linear-gradient(#32bba1,white);
    height: 70px;
}
nav{
    float:right;
    margin: 20px 30px;
    font-size: 20px;

}
#title{
    font-size: 50px;
    font-family: "Arial",sans-serif;
    color:#1d7ebb;
    text-shadow: darkgray 5px 2px 5px;
    margin-left: 80px;
}
a{
    color:#1d7ebb;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
}
body{
    background-image: url("bg.jpg ");
}
iframe{
    display: inline;
    float: right;
    position: relative;
    right:550px;
    top:400px;
}
#profile{
    border-radius: 100%;
    margin-top:130px;
    margin-left: 350px;
}
h1{
    color:white;
    font-family: "Arial", sans-serif;
    float:right;
    margin-right:200px;
    font-size: 50px;
}
#div1{
    background-color:white;
    color:#1d7ebb;
    float: right;
    margin-right:400px;
  margin-top: -250px;
    width:500px;
    height:250px;
}
#name
{
    color:cyan;
}
h2{
    font-size:40px;
    text-align: center;
}
#div1>p{
    font-size:20px;
    text-align: center;
}
#div1> a{
    background-color: cyan;
    padding: 10px 60px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin: 20px 130px ;
    font-size: 20px;
}
#contact{
    margin: 50px 500px;
}
.info{
    color: cyan;
    font-weight: bold;
    font-size: 20px;
}
article{
    background-color:white;
    width:400px;
    color:#1d7ebb;
    top:750px;
    display:inline-block;
    position: absolute;
    right: 950px;
}
fieldset{
    background-color: white;
    height: 400px;
    width: 800px;
    display: inline;
    position: relative;
    border-style: dotted;
    border-width: 5px;
    border-color: #1d7ebb;
    left: 550px;
    top:-50px;
}
legend{
    font-weight: bold;
    font-size: 40px;
    color: #1d7ebb;
}
label{
    margin: 20px;
    color: cyan;
}
form{
    margin: 40px;
}
textarea{
    width: 600px;
    height: 80px;
    margin-left: 100px;
}
button{
    padding: 20px 100px;
    background-color: cyan;
    color: white;
    font-weight: bold;
    border: transparent;
    margin-left: 200px;
    margin-top: 30px;
}
#div2{
    background-image: linear-gradient(lightgreen,cyan,blue);
    width: 800px;
    height: 300px;
    border-radius: 10px;
    border-style: outset;
    margin-left: 200px;
    margin-top: 150px;
    position: relative;
}
#div2 p{
    color:white;
    font-size:25px;
    font-family: "Arial",sans-serif;
    display: inline-block;
}
#c\+\+{
    float:right;
    position: absolute;
    margin-left: 250px;
}
#coding{
    float:right;
    position: absolute;
    margin-left: 250px;
    margin-top: 280px;
}
#div3{
    color: white;
    margin-top: 50px;
    margin-left: 200px;
    width: 700px;
    height:150px;
    font-size: 25px;
}
ul{
    width:250px;
    display: inline-block;
    position: absolute;
    color:darkblue;
}
#div3 ul:nth-of-type(1){
    top:600px;
    left:320px;

}
#div3 ul:nth-of-type(2){
    top:600px;
    left:650px;
}
#div3 span {
    position: relative;
    margin-left: 100px;
}


